# Rename this file to .env and fill in the appropriate values

# Vertesia API URL (default: api.vertesia.io)
VERTESIA_ENVIRONMENT=api.vertesia.io

# Your Vertesia API key (required)
VERTESIA_API_KEY=your_api_key_here